In [4]:
import dask_cudf
import cudf, cuml, cugraph
import json
from pandas.io.json import json_normalize 
import pandas as pd 
import time

In [5]:
#Fase load PANDAS, RAPIDS and Dask_RAPIDS

pd_Pandas = pd.read_csv('../RAPIDS/df_data.csv', names='uno')

#read with cudf
start = time.time()
gdf = cudf.read_csv('../RAPIDS/df_data.csv', names='uno')
end = time.time()

caculatedCUDF = end - start
print("Cálculo de lectura con RAPIDS = {}".format(caculatedCUDF))

#read with dask_cudf
daskstart = time.time()
dask_gdf = dask_cudf.read_csv('../RAPIDS/df_data.csv', names='uno')
daskend = time.time()

caculatedDASKCUDF = daskend - daskstart
print("Cálculo de lectura con DASK_CUDF = {}".format(caculatedDASKCUDF))

Cálculo de lectura con RAPIDS = 0.4634685516357422
Cálculo de lectura con DASK_CUDF = 0.026910066604614258

In [6]:
cudf_Pandas = pd_Pandas
print('Descripción de salida del dataset:')
gdf

Descripción de salida del dataset:

                                                       u     n     o
0      ﻿"/edx/var/log/tracking/tracking.log-20171110-...  null  null
1      /edx/var/log/tracking/tracking.log-20171110-15...  null  null
2      /edx/var/log/tracking/tracking.log-20171110-15...  null  null
3      /edx/var/log/tracking/tracking.log-20171110-15...  null  null
4      /edx/var/log/tracking/tracking.log-20171110-15...  null  null
...                                                  ...   ...   ...
79995  /edx/var/log/tracking/tracking.log-20171220-15...  null  null
79996  /edx/var/log/tracking/tracking.log-20171220-15...  null  null
79997  /edx/var/log/tracking/tracking.log-20171220-15...  null  null
79998  /edx/var/log/tracking/tracking.log-20171220-15...  null  null
79999  /edx/var/log/tracking/tracking.log-20171220-15...  null  null

[80000 rows x 3 columns]

In [7]:
#Fase Transformation
#Dataset more understandable

import json
#create format json for later create dataframe
start = time.time()
lista = list(cudf_Pandas['u'])
a = []

for i in range(0,len(lista)):
    d = lista[i].split('.gz:')
    nuevo = d[1]
    a.append(json.loads((nuevo)))
    
#Create DataFrame with Pandas
pdPandas = pd.DataFrame(a)

# Convierto todo a str para que la entrega funcione
#Pandas a cudf, si no lo convierto me arroja errores y no puedes
#convertir en un marco de datos
nuevo_pdPandas = pdPandas.applymap(str)

#Crear DataFrane con cudf
gdf = cudf.DataFrame.from_pandas(nuevo_pdPandas)

#convertir para Pandas
gdfPD = gdf.to_pandas()

# solo conservo el día de la columna 'username'
#mayor a 0
snNull = gdfPD[gdfPD.username.map(len) > 0]

# elimino username dicc y opencampus
snDicc = snNull[snNull.username != 'dicc']
snCampus = snDicc[snDicc.username != 'opencampus']

#convertio para cuDF
gdf_new = cudf.DataFrame.from_pandas(snCampus)

#eliminar filas con los datos perdidos
gdf_new.dropna(axis=0, how='any')

#Eliminar columnas que no tiene mucha relevancia
gdf_new.drop_column('accept_language') #columna si relevancia
gdf_new.drop_column('name') #muchos datos faltantes
gdf_new.drop_column('agent') #columna si relevancia
gdf_new.drop_column('page') #muchos datos faltantes
gdf_new.drop_column('session') #muchos datos faltantes
gdf_new.drop_column('event') #datos dañados
gdf_new.drop_column('event_type') #columna si relevancia

#Valores server = 1, browser = 2
gdf_new['event_source'].replace(['server','browser'],
                                [1,2],inplace=True)

#Valor opencampus.utpl.edu.ec = 1
gdf_new['host'].replace(['opencampus.utpl.edu.ec','soer.utpl.edu.ec'],
                        [1,2],inplace=True)

#ip a formato int
gdf_new['ip'] = gdf_new['ip']
gdf_new['ip'].str.ip2int()

#Dividir columna context estaba en json
context = gdf_new['context']
context.str.normalize_spaces()
newcontext = context.str.split(pat = ",")
newcontext.drop_column(3)
newcontext.drop_column(4)
newcontext.drop_column(5)
newcontext.drop_column(6)

#Cambiar nombre a las columnas
newcontext.columns = ['a','b','c']

#Unir
newData = gdf_new.join(newcontext, how='left')
newData.drop_column('context')

#eliminar filas con datos perdidos
newData.dropna(axis=0, how='any')

#soltar duplicados
newData.sort_values('username') 
newData.drop_duplicates(subset='username', keep=False, inplace=False, ignore_index=False)

#resetear index
newData = newData.reset_index()
newData.drop_column('index')

#eliminar filas con datos perdidos
newData.dropna(axis=0, how='any')

end = time.time()
calculatedGeneralRAPIDS = end - start

print('Cálculo de transformación RAPIDS:', calculatedGeneralRAPIDS)

Cálculo de transformación RAPIDS: 5.557018518447876

/home/jose/anaconda3/envs/rapids/lib/python3.7/site-packages/cudf/core/column/string.py:1738: UserWarning: `expand` parameter defatults to True.
  warnings.warn("`expand` parameter defatults to True.")

In [11]:
#dividir columna time
time = newData['time']
time.str.normalize_spaces()
newtime = time.str.split(pat = "-")

day = newtime[2]
day.str.normalize_spaces()
daytime = day.str.split(pat = 'T')
daytime.drop_column(1)
daytime.columns = ['day']

timenew = newtime.join(daytime, how='left')
timenew.drop_column(2)
timenew.columns = ['year','month','day']

#Unir todo al dataframe general
newData = newData.join(timenew)
newData.drop_column('time')

#eliminar filas con datos perdidos
newData.dropna(axis=0, how='any')

#resetear index
newData = newData.reset_index()
newData.drop_column('index')

KeyError: 'time'

In [10]:
#Informacion de todo el dataset transformado
print('Names columns:',newData.columns)
print('Dataframe empty yes or no:',newData.empty)
print('Dimension DataFrame:',newData.shape)
print('Verificar valores nulos por cada columna:',newData.isnull().sum())

print('Information DATA general again with RAPIDS:')
newData.head()

Names columns: Index(['username', 'event_source', 'host', 'referer', 'ip', 'a', 'b', 'c',
       'year', 'month', 'day'],
      dtype='object')
Dataframe empty yes or no: False
Dimension DataFrame: (77912, 11)
Verificar valores nulos por cada columna: username        0
event_source    0
host            0
referer         0
ip              0
a               0
b               0
c               0
year            0
month           0
day             0
dtype: int64
Information DATA general again with RAPIDS:

,username,event_source,host,referer,ip,a,b,c,year,month,day
7104,Andres_Merlo,2,1,http://opencampus.utpl.edu.ec/courses/course-v...,200.107.18.106,{'user_id': 12803,'org_id': 'UTPL','course_id': 'course-v1:UTPL+EFHE-Ed7+2017_DIC',2017,12,12
7105,Andres_Merlo,1,1,http://opencampus.utpl.edu.ec/courses/course-v...,200.107.18.106,{'user_id': 12803,'org_id': '','course_id': '',2017,12,12
7106,Andres_Merlo,2,1,http://opencampus.utpl.edu.ec/courses/course-v...,200.107.18.106,{'user_id': 12803,'org_id': 'UTPL','course_id': 'course-v1:UTPL+EFHE-Ed7+2017_DIC',2017,12,12
7107,Andres_Merlo,2,1,http://opencampus.utpl.edu.ec/courses/course-v...,200.107.18.106,{'user_id': 12803,'org_id': 'UTPL','course_id': 'course-v1:UTPL+EFHE-Ed7+2017_DIC',2017,12,12
7108,Andres_Merlo,2,1,http://opencampus.utpl.edu.ec/courses/course-v...,200.107.18.106,{'user_id': 12803,'org_id': 'UTPL','course_id': 'course-v1:UTPL+EFHE-Ed7+2017_DIC',2017,12,12

In [ ]:
#Guardar la data entendible en un nuevo csv
start = time.time()
da_data = 'data_mejora.csv'
newData.to_csv(da_data)
end = time.time()

calculated = end - start

print("Cálculo de lectura con DASK_CUDF = {}".format(calculated))

In [ ]:
nueva_data = cudf.read_csv('data_mejora.csv')
nueva_data.head()

In [ ]:
#Data Splitting with cuml
from cuml.preprocessing.model_selection import train_test_split

#Assign dataset general a new variables
gdf_dataX = nueva_data
gdf_dataY = nueva_data


#Divide datasets in train and test
#datatrain 80% and datatest 20%
X_train, X_test, y_train, y_test = train_test_split(gdf_dataX, gdf_dataY, train_size=0.8)

#information
print(f'Original datasets: {gdf_dataX.shape[0], gdf_dataY.shape[0]} elements')
print(f'Data X_train: {X_train.shape[0]} elements')
print(f'Data X_test: {X_test.shape[0]} elements')
print(f'Data y_train: {y_train.shape[0]} elements')
print(f'Data y_test: {y_test.shape[0]} elements')

In [ ]:
#work processing cuml with RAPIDS

#Fase Preprocessing

#Converting a categorical implementation to a numerical one
from cuml.preprocessing.LabelEncoder import LabelEncoder

le = LabelEncoder()

#select two columns potenciales for work train for xTrain
value_usernameX = le.fit_transform(X_train.username)
value_ipX = le.fit_transform(X_train.ip)

#select two columns potenciales for work train for xTest
value_usernameXT = le.fit_transform(X_test.username)
value_ipXT = le.fit_transform(X_test.ip)

#select two columns potenciales for work train for yTrain
value_usernameY = le.fit_transform(y_train.username)
value_ipY = le.fit_transform(y_train.ip)

#select two columns potenciales for work train for yTest
value_usernameYT = le.fit_transform(y_test.username)
value_ipYT = le.fit_transform(y_test.ip)

In [ ]:
#Algortih LinearRegression
import cupy as cp
from cuml.preprocessing import LabelBinarizer
from cuml import LinearRegression
from cuml.linear_model import LinearRegression

#Value train-test eje Xtrain of column username
dataTest = cudf.DataFrame()
dataTest['usernameValueXtrain'] = cp.asarray(value_usernameX, dtype=cp.float32)
dataTest['ipValueXtrain'] = cp.asarray(value_ipX, dtype=cp.float32)

#Value train-test eje Ytrain of column username
new_value = cp.asarray(value_usernameY, dtype=cp.float32)
dataY = cudf.Series(new_value)

#use algorith LinearRegresssion
lr = LinearRegression(fit_intercept = True, normalize = False,
                      algorithm = "eig")

reg = lr.fit(dataTest, dataY)

print("Coefficients:")
print(reg.coef_)

print("Intercept:")
print(reg.intercept_)

In [ ]:
#Algortih RandonForest
from cuml.ensemble import RandomForestClassifier as cuRFC

dataTrainUSER = cp.asarray(value_usernameX, dtype=cp.float32)
dataTestUSER = cp.asarray(value_usernameY, dtype=cp.int32)

cuml_modelRDF = cuRFC(max_features=1.0,
                   n_bins=2,
                   n_estimators=2)

cuml_modelRDF.fit(dataTrainUSER, dataTestUSER)
cuml_predict = cuml_modelRDF.predict(dataTrainUSER)

print("Predicted labels : ", cuml_predict)

In [ ]:
#Dividir columna course_user_tags
#newcontext.columns = ['course_user_tags','user_id','org_id']
#newcontext.head(2)

#dfnewcontext = newcontext["course_user_tags"].str.split(':', expand=True)
#dfnewcontext.sort_values(0)
#dfnewcontext.drop_duplicates(1, keep="last", inplace=True)
#dfnewcontext.drop(0, inplace=True)
#dfnewcontext.columns = ['user_id']
#indexNames = dfnewcontext[dfnewcontext['user_id'] == '{}' ].index
#nuevodf = dfnewcontext.drop(indexNames, inplace=True)
#nuevodf.reset_index()